.navbar {
    &-brand {
        align-items: center;
        display: flex;
        svg {
            width: 30px;
            height: 30px;
        }
        img {
            max-width: 120px;
            margin-left: 15px;
        }
    }
    .nav-link {
        &::after {
            display: none;
        }
        .user-panel {
            text-align: center;
            span {
                display: block;
                font-size: 11px;
            }
        }
    }
    .dropdown-menu {
        display: none !important;
    }
}