@import '../color';

.sidebar  {
    &-header  {
        button {
            background-color: transparent;
            border: 0;
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    ul {
        padding: 25px 0;
        list-style: none;
        li {
            position: relative;
            margin-bottom: 15px;
            border: 1px solid  transparent;
            svg {
                position: relative;
                top: 1px;
                margin-right: 15px;
            }
            a {
                text-decoration: none;
                color:$primary;
                padding: 15px;
                display: block;
                &:hover, &.router-link-active {
                    font-weight: bold;
                    border: 1px solid  $secondary;
                    border-radius: 8px;
                    svg {
                        color: $secondary;
                    }
                }
            }
            
        }
    }
}